<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Headache Story by Repl</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="container d-flex align-items-center justify-content-center vh-100"
    >
      <div class="text-center w-50">
        <h1 class="mb-4">Headache JS</h1>
        <h4 class="mb-3" id="popid">{{wpop}}</h2>
        <p class="mb-3">Tell me about your headache</p>
        <div class="mb-3">
          <label for="headache-category" class="form-label">Category</label>
          <input id="headache-category" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="my-headache" class="form-label">Details</label>
          <textarea id="my-headache" class="form-control" rows="4"></textarea>
        </div>
        <div class="mb-3">
          <label for="your-headache" class="form-label">Another Details</label>
          <textarea id="your-headache" class="form-control" rows="4"></textarea>
        </div>
        <div class="mb-3">
          <label for="form-label">what headache level u are:</label>
          <input
            id="number-selector"
            type="number"
            class="form-control"
            min="1"
            max="100"
            step="1"
            value="10"
          />
        </div>
        <div class="mb-3">
          <label for="form-label">what happy level u are:</label>
          <input
            id="number-happy"
            type="number"
            class="form-control"
            min="1"
            max="100"
            step="1"
            value="10"
          />
        </div>
        <button
          onmousedown="mouse_down()"
          class="btn btn-primary col-12"
          id="th"
        >
          Submit my headache
        </button>
      </div>
    </div>


    <script
      text="text/javascript"
      src="{{ url_for('static', filename='js/index.js')  }}"
    ></script>
    <script
      text="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.0/purify.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
